.hero {
  background-color: $accent01;
}

.landing {
  background-color: $accent02;
}

/* For desktop view */
.mulcol {
  display: flex;
}

.column {
  flex: 1;
  border: 5px solid black;
}

.leftcol {
  float: right;
  width: 50%;
}

.rightcol {
  float: left;
  width: 50%;
}

/* For tablet and smaller viewports */
@media (max-width: 768px) {
  .mulcol {
    flex-direction: column;
  }
  .leftcol {
    width: 100%;
  }
  
  .rightcol {
    width: 100%;
  }
}

.leftcol,
.rightcol {
  background-color: magenta;
}

// ===========================
// For uielements/gallery.html
// ===========================

.gallery  {
  background-color: $accent01;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 2rem auto 2rem auto;
}

.tile {
  width: 30%;
  height: 45vh;
  padding: 1rem;
  overflow: hidden;
}

/* Media query for phone */
@media (max-width: 767px) {
  .tile {
    width: 100%; /* Adjust as needed */
  }
}

/* Media query for tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .tile {
    width: calc(50% - 2rem); /* Adjust as needed */
  }
}


