// ==========================
// For home.html
// ==========================

/* For desktop view */
.mulcol {
  display: flex;
}

.column {
  flex: 1;
}

.leftcol {
  float: right;
  padding: 0 1rem 0 0;
}

.rightcol {
  float: left;
  padding: 0 0 0 1rem;
}

.leftcol,
.rightcol {
  width: calc(90% - 1rem);
  max-width: calc(($max-content-width / 2) - 1rem);
}

/* Media query for phone */
@media (max-width: 767px) {
  .mulcol {
    flex-direction: column;
    width: calc(100% - 0.8rem);
    padding: 0 0.4rem 0 0.4rem;
  }
  .leftcol,
  .rightcol {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }

  // .rightcol input,.rightcol textarea{
  //   width: 90%
  // }

  .rightcol button{
    float: right;
  }

  #map {
    width: calc(100vw - 0.8rem) !important;
    max-width: 100% !important;
  }
}

/* Media query for tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .mulcol {
    width: 90%;
    margin: 0 auto;
  }

  .leftcol,
  .rightcol {
    width: 100%;
    padding: 0;
  }

  .leftcol {
    padding-right: 1rem;
  }

  #map {
    width: 40vw;
  }
}

#map {
  height: 60vh;
  max-width: calc(($max-content-width / 2) - 1rem);
  width: calc(45vw - 1rem);
}

// ==========================
// For header.html
// ==========================
header img {
  margin: 2rem auto 0 auto;
  display: block;
  height: 150px;
}

header {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// ==========================
// For footer.html
// ==========================

.footer-inner {
  width: 90%;
  margin: 0 auto 0 auto;
  max-width: $max-content-width;
  text-align: center;
  font-size: 0.8rem;
}

/* Media query for phone */
@media (max-width: 767px) {
  .footer-inner {
    width: calc(100% - 0.8rem);
    padding: 0 0.4rem 0 0.4rem;
  }
}

// ========================
// For uielements/hero.html
// ========================
.hero {
  display: block;
  width: 100%;
  overflow: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: -1px -14px 11px -10px rgba(0, 0, 0, 0.69) inset;
}

.hero-text {
  display: block;
  width: 90%;
  max-width: $max-content-width;
  margin: 2rem auto 2rem auto;
  text-align: center;
}

.hero-text p{
  text-align: justify;
}

.hero .large-button {
  width: 15rem;
  height: 2rem;
  margin: 0.5rem auto 0.5rem auto;
}

// ================================
// For uielements/gallery-page.html
// ================================

.gallery-page {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 2rem auto 2rem auto;
}

.gallery-page .tile {
  width: calc(50% - 1rem);
  padding: 0.5rem;
}

// ===========================
// For uielements/gallery.html
// ===========================

.gallery {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: $max-content-width;
  margin: 2rem auto 2rem auto;
}

.tile {
  width: calc(50% - 2rem);
  padding: 1rem;
  text-align: center;
}

.tile p {
  padding-top: 0.5rem;
}

.img-container {
  overflow: hidden;
  position: relative;
  aspect-ratio: 4/3;
}

.img-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  //   transition: all 0.3s ease;
}

// Don't know if I liek this effect
// .img-container img:hover{
//   height: 150%;
//   width: 150%;
//   transition: all 0.3s ease;
// }

/* Media query for phone */
@media (max-width: 767px) {
  .tile, .gallery-page .tile {
    padding: 0.4rem;
    width: 100%;
  }
  .img-container {
    // height: 30vh;
    aspect-ratio: 5/3;
  }
  .gallery {
    width: 100%;
  }
}

/* Media query for tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .tile,.gallery-page .tile {
    width: calc(50% - 1rem);
    padding: 0.5rem;
  }
  .img-container {
    aspect-ratio: 5/3;
  }
}

// ==========================
// For uielements/home-*.html
// ==========================

.home-inner {
  width: 90%;
  margin: 0 auto 0 auto;
  max-width: $max-content-width;
}

/* Media query for phone */
@media (max-width: 767px) {
  .home-inner {
    width: calc(100% - 0.8rem);
    padding: 0 0.4rem 0 0.4rem;
  }
}

// ============================
// For uielements/carousel.html
// ============================

.carousel {
  width: 90%;
  margin: 0 auto 0 auto;
  max-width: $max-content-width;
}

.carousel-card {
  background-color: $accent01;
  padding: 1rem;
  border-radius: 1rem;
  flex: 0 0 calc(33.333333% - 2.5rem);
  margin-right: 0.5rem;
  height: 8rem;
  line-height: 8rem;
}

.carousel-card p {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
  position: relative;
  width: 100%;
}

.carousel-outer {
  // display: flex;
  overflow: hidden;
}

.carousel-controls{
  margin: 1rem auto 2rem auto;
  width: fit-content;
  padding-right: 0.5rem;
}

.carousel-controls button{
  border-radius: 2rem;
  width: 3rem;
  height: 3rem;
  display: inline-block;
  box-shadow: -1px 4px 6px 0px rgba(0,0,0,0.75);
}


/* Media query for tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .carousel-card {
    flex: 0 0 calc(50% - 2.5rem);
  }
}

/* Media query for phone */
@media (max-width: 767px) {
  .carousel {
    width: calc(100% - 0.8rem);
    padding: 0 0.4rem 0 0.4rem;
  }

  .carousel-card {
    flex: 0 0 calc(100% - 2.5rem);
  }
}



