<section class="carousel">
  <h1>{{ include.title }}</h1>

  <div class="carousel-outer">
    <div class="carousel-inner">
    {% for item in include.quotes %}
      <div class="carousel-card">
        <p><q>{{ item }}</q></p>
      </div>
    {% endfor %}
    </div>
  </div>

  <div class="carousel-controls">
    <button class="large-button" onclick="showPrevSlide()"><i class="fa-solid fa-arrow-left"></i></button>
    <button class="large-button" onclick="toggleSlide()"><i id="carousel-pause" class="fa-solid fa-pause"></i></button>
    <button class="large-button" onclick="showNextSlide()"><i class="fa-solid fa-arrow-right"></i></button>
  </div>

</section>

<script src="{{ "/assets/js/carousel.js" | relative url }}"></script>