---
layout: default
---

{{ content }}

<!-- Layout for two column map + contact form -->
<section class="mulcol">
  <div class="column">
    <div class="leftcol">
      <p>Col 1</p>
    </div>
  </div>
  <div class="column">
    <div class="rightcol">
      {% if page.contacttitle %}
      <h1>{{ page.contacttitle }}</h1>
      {% endif %}

      {% if page.contactdescription %}
      <p>{{ page.contactdescription }}</p>
      {% endif %}

      {% include uielements/contact-form.html onsubmit="#" %}
    </div>
  </div>
</section>
